<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SES</title>
</head>
<body>
    <form action="/" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="name"> <br> <br>
        Email: <input type="email" name="email"> <br> <br>
        <button type="submit">submit</button>
    </form>
    <br>
    <h2><a href="jsonData">Download Database</a></h2>
    <h2><a href="ses">Download Software</a></h2>
</body>
</html>